footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background: var(--white);
}

footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

footer .social-icons {
  width: 200px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.social-icons a {
  font-size: 1.8rem;
  color: var(--black);

  &:hover {
    color: var(--gray);
  }
}
